/* Installazione font */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Inizio css per progetto*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    background-color: rgb(233, 218, 218);
}

.general-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: min-content;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: end;
    margin-top: 40px;
}



.title {
    font-size: 3em;
    margin-top: 1em;
    text-decoration: underline;
    text-decoration-color: orangered;
}

.ar-symbols {
    font-size: 2em;
    width: 70px;
    height: 70px;
    background-color: inherit;
    padding: 15px;
    margin: 0 80px;
    border-radius: 10px;
    border: 1px solid rgb(162, 152, 152);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.res {
    font-size: 8em;
    font-weight: 700;
    color: orangered;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.reset-button {
    padding: 10px 25px;
    border: 1px solid rgb(162, 152, 152);
    border-radius: 100px;
    font-size: 1.5em;
    background-color: inherit;
}

.converted-container {
    width: 200px;
    height: 200px;
    background-color: inherit;
    padding: 25px;
    border-radius: 10px;
    border: 1.5px solid rgb(162, 152, 152);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.converted-res {
    font-size: clamp(2em, 5vw, 4px);
}

.converted-labels {
    font-size: 1em;
}





#plus:hover, #minus:hover, #reset:hover {
    background-color: orangered;
    transition: background-color .3s linear;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 2.5em;
        margin-top: .5em;
        text-decoration: underline;
        text-decoration-color: orangered;
    }

    .container {
        width: 100%;
        gap: 10px;
    }

    .converted-container {
        width: 30%;
        height: fit-content;
    }

    .ar-symbols {
        margin: 0;
    }

    #plus:hover, #minus:hover, #reset:hover {
        background-color: inherit;
    }

    #plus:active, #minus:active, #reset:active {
        background-color: orangered;
        transition: background-color .3s linear;
    }
}